.toggle-button {
    cursor: pointer;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 1em;
    padding: 1.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 1.8rem;
}

.highlighted-text {
    font-weight: bold;
    transition: 0.5s;
}